@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.navBack{
	display: block;
	color: blue;
	background-color: #f42069;

	width: 0px;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;

	position: fixed;
	top: 0;
	left: 0;
	
	transition: 0.6s;
}

.navStyle{
	display: block;
	color: blue;
	background-color: #12111c;

	width: 0px;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;

	position: fixed;
	top: 0;
	left: 0;

	transition: 0.9s;
}

.navItem {
	text-align: left;
	color: #000026;
	font-family: 'Open Sans', sans-serif;

	display: block;
	white-space: nowrap;
	
	margin-left: 40px;
	
	transition: ease-out 0.5s;
}

.myText{
	font-size: 18px;
	padding-top: 15px;

	cursor: pointer;

	transition: ease-out 0.5s;
}

.myText:hover{
	padding-left: 10px;
}

.extraPad{
	margin-top: 150px;
}

.burger{
	margin-top: 15px;
	margin-left: 15px;
	z-index: 2;
	position: fixed;
	transition: 1s all ease;
}

.burgerLayers{
	background-color: #f42069;
	width: 25px;
	height: 4px;
	margin-top: 4px;
	transition: 0.5s all ease;
}

.grayCOL{
	color: gray;
}

.tempClass{
	position: fixed;
	z-index: 3;
	background-color: white;
	width: 40px;
	height: 5px;
	margin-top: 4px;
	transform:  translate(-20px, -30px) rotate(-45deg);
	transition: 1s all ease;
}

.tempClass2{
	display: none;
	position: fixed;
	z-index: 3;
	background-color: #12111c;
	width: 25px;
	height: 8px;
	margin-top: 4px;
	transition: 1s all ease;
}

.bodyText{
	display: flex;
	position: fixed;
	
	height: 100%;
	width: 100%;

	align-items: center;
	justify-content: center;

	color: #aaa;
	font-weight: bold;

	font-size: 70px;
}
